<h1>Listing Offices</h1>

<table id="tbOficios" class="display table table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Sistema</th>
      <th>Identificador</th>
      <th>Sipro</th>
      <th>Siged</th>
      <th>Data</th>
      <th>Ocorrencia</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.system.nome %></td>
        <td><%= office.identificador %></td>
        <td><%= office.sipro %></td>
        <td><%= office.siged %></td>
        <td><%= office.dataRecebimento.to_s(:data) %></td>
        <td><%= office.ocorrencia %></td>
        <td><%= link_to 'Show', office %>
        <%= link_to 'Edit', edit_office_path(office) %>
        <%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">
<%= button_to('Novo Ofício', new_office_path, :method => :get, :class => 'btn btn-primary')  %>
</div>

