<div align="center">
<h2> Ofícios </h2>
</div>
<hr>
<p>
<h3><span class="glyphicon glyphicon-chevron-right">
<%= @office.system.nome %> - Ofício: <%= @office.identificador %> - OCR:<%= @office.ocorrencia %>
 - <%= link_to 'Edit', edit_office_path(@office), class: "btn btn-warning" %> </span></h3>
 </p>
<p>
  <strong>Sistema:</strong>
  <%= @office.system.nome %>
</p>

<p>
  <strong>Identificador:</strong>
  <%= @office.identificador %>
</p>

<p>
  <strong>Sipro:</strong>
  <%= @office.sipro %>
</p>

<p>
  <strong>Siged:</strong>
  <%= @office.siged %>
</p>

<p>
  <strong>Datarecebimento:</strong>
  <%= @office.dataRecebimento.to_s(:data) %>
</p>
<hr>

  <%= render 'items/index'%>

<hr>

<div align="center">
   <%= link_to "Voltar", offices_path, class: "btn btn-default"%>
</div>
