<h1>Ofício: <%= @office.identificador %></h1>
<p>
  <strong>Sistema:</strong>
  <%= @office.system.nome %>
</p>

<p>
  <strong>Identificador:</strong>
  <%= @office.identificador %>
</p>

<p>
  <strong>Sipro:</strong>
  <%= @office.sipro %>
</p>

<p>
  <strong>Siged:</strong>
  <%= @office.siged %>
</p>

<p>
  <strong>Datarecebimento:</strong>
  <%= @office.dataRecebimento.to_s(:data) %>
</p>

<p>
  <strong>Ocorrencia:</strong>
  <%= @office.ocorrencia %>
</p>

<br>
<hr>

  <%= render 'items/index'%>

<hr>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
