<%= bootstrap_form_for(@client) do |f| %>
  <%= f.alert_message "Verifique os erros abaixo antes de prosseguir:" %>


    <%= f.collection_select(:system_id, System.all, :id, :nome, {prompt: "Selecione o Sistema"}) %>
    <%= f.text_field  :nome %>
    <%= f.text_field :email %>
    <%= f.text_field :telefone %>
    <div align="center">
      <%= f.submit %>
      <%= link_to 'Voltar', clients_path , class: "btn btn-default"%>
    </div>
<% end %>
