<h1>Clientes</h1>

<table id="myTable" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>System</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.system.nome %></td>
        <td><%= client.nome %></td>
        <td><%= client.email %></td>
        <td><%= client.telefone %></td>
        <td><%= link_to 'Show', client %>
        <%= link_to 'Edit', edit_client_path(client) %>
        <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
<%= button_to('Novo Cliente', new_client_path, :method => :get, :class => 'btn btn-primary')  %>
</div>
