<div class="col-md-11">

<%= simple_form_for([@office, @item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.hidden_field :office_id, :value => @office.id %>
    <%= f.collection_select(:client_id, Client.all, :id, :nome) %>
    <%= f.input :mantis %>
    <%= f.input :numProcesso %>
    <%= f.input :nomeServidor %>
    <%= f.input :migrado %>
    <%= f.input :operacao %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  </div>

<% end %>

