<h4>Lista Itens:</h4>

  <div class="row" id="container-items">
    <%= render @items %>
  </div>

<br>

<div class="row">
  <div class="text-center">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myNewItem" id="btnNovo">
    Novo Item
  </button>
  </div>
</div>



<!-- inicio formulario com modal para alteracao de novos dados -->
<%= simple_form_for([@office, @office.items.build], remote: true) do |f| %>

  <div class="modal fade" id="myNewItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Items - Cadastrar Items</h4>
      </div>


      <div class="modal-body">
        <%= f.error_notification %>
        <%= f.hidden_field :office_id, :value => @office.id %>

        <div class="form-group">
            <label for="item_client_id" class="control-label">Relator:</label>
            <%= f.collection_select(:client_id, Client.all, :id, :nome, {prompt: "Selecione o relator"}, {class: "form-control item_client_id"} )%>
        </div>

          <div class="form-group">
           <label for="item_mantis" class="control-label">Mantis:</label>
            <%= f.input :mantis, label: false, id: "item_mantis",class: "form-control item_mantis"%>
          </div>
          <div class="form-group">
           <label for="item_numProcesso" class="control-label">Número Processo:</label>
            <%= f.input :numProcesso, label: false, id: "item_numProcesso", class: "form-control item_numProcesso" %>
          </div>
          <div class="form-group">
           <label for="item_nomeServidor" class="control-label">Nome Servidor:</label>
            <%= f.input :nomeServidor, label: false, id: "item_nomeServidor", class: "form-control item_nomeServidor" %>
          </div>
          <div class="form-group">
            <%= f.label :migrado, "* Processo Migrado?  " %>
            <%= f.radio_button :migrado, true %>
            <%= f.label :migrado_desc, "Sim" %>
            <%= f.radio_button :migrado, false %>
            <%= f.label :migrado_desc, "Não" %>
          </div>
          <div class="form-group">
           <label for="item_operacao" class="control-label">Descrição:</label>
             <%= f.input :operacao, label: false,id: "item_operacao", class: "form-control item_operacao", :input_html => {:rows => 3 } %>
          </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <%= f.button :submit, "Salvar", id: "btn-salvar", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>

<% end %>
