<h2> items index </h2>




<!-- <table id="myTable" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>N. Mantis</th>
      <th>Num.Processo</th>
      <th>Nome Servidor</th>
      <th>Migrado</th>
      <th>Ações</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>-->
  <div class="row" id="container-items">
    <%= render @items %>
    </div>
 <!--  </tbody>
</table> -->


<br>

<div class="row">
  <div class="text-center">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myNewItem">
    Novo Item
  </button>
  </div>
</div>



<!-- inicio formulario com modal para alteracao de novos dados -->
<%= simple_form_for([@office, @office.items.build], remote: true) do |f| %>

  <div class="modal fade" id="myNewItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Items - Cadastrar Items</h4>
      </div>


      <div class="modal-body">
        <%= f.error_notification %>
        <%= f.hidden_field :office_id, :value => @office.id %>

          <div class="field">
            <%= f.collection_select(:client_id, Client.all, :id, :nome, {prompt: "Selecione o relator"}, {class: "form-control item_client_id"} )%>
         </div>
          <div class="field">
            <%= f.input :mantis, :label => 'Núm. Mantis:    ', id: "item_mantis",class: "form-control item_mantis"%>
          </div>
          <div class="field">
            <%= f.input :numProcesso, :label => 'Núm. Processo: ', id: "item_numProcesso", class: "form-control item_numProcesso" %>
          </div>
          <div class="field">
            <%= f.input :nomeServidor, :label => 'Nome Servidor:', id: "item_nomeServidor", class: "form-control item_nomeServidor" %>
          </div>
          <div class="field">
            <%= f.input :migrado,  id: "item_migrado", class: "form-control item_migrado" %>
          </div>
          <div class="field">
            <%= f.input :operacao,:label => 'Descrição:    ',  id: "item_operacao", class: "form-control item_operacao" %>
          </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <%= f.button :submit, "Salvar", id: "btn-salvar", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>

<% end %>
