<h4>Lista Itens:</h4>

  <div class="row" id="container-items">
    <%= render @items %>
  </div>

<br>

<div class="row">
  <div class="text-center">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myNewItem" id="btnNovo">
    Novo Item
  </button>
  </div>
</div>



<!-- inicio formulario com modal para alteracao de novos dados -->
<%= bootstrap_form_for([@office, @office.items.build], id: "form", remote: true) do |f| %>

  <div class="modal fade" id="myNewItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Items - Cadastrar Items</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">
          <%= f.alert_message "Verifique os erros abaixo antes de prosseguir:" %>

          <%= f.hidden_field :office_id, :value => @office.id %>
          <%= f.collection_select(:client_id, Client.all, :id, :nome, {prompt: "Selecione o relator"}, {class: "form-control item_client_id"} )%>
          <%= f.text_field :mantis, label: false, id: "item_mantis",class: "form-control item_mantis"%>
          <%= f.text_field :numProcesso, label: false, id: "item_numProcesso", class: "form-control item_numProcesso" %>
          <%= f.text_field :nomeServidor, label: false, id: "item_nomeServidor", class: "form-control item_nomeServidor" %>
          <%= f.form_group :migrado, label: { text: "Processo Migrado" } do %>
            <%= f.radio_button :migrado, true, label: "Sim", inline: true %>
            <%= f.radio_button :migrado, false, label: "Não", inline: true %>
          <% end %>
          <%= f.text_area :operacao, class: "form-control item_operacao", :input_html => {:rows => 3 } %>
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Salvar", id: "btn-salvar", class: "btn btn-primary" %>
        </div>

  </div>
  </div>
</div>

<% end %>
