
<div class="box col-md-4" id="item_<%= item.id %>">
    <div class="panel panel-default text-center">
  <div class="panel-heading">Mantis: <%= item.mantis %> - Processo: <%= item.numProcesso %></div>
    <div class="panel-body">

        <div align="left">
        <p><b>Relator:</b> <%= item.client.nome %></p>
        <p><b>Servidor:</b> <%= item.nomeServidor %></p>
        <p><b>Migrado? </b> <%= formata_SimNao(item.migrado)%></p>
        <p>       <textarea class="form-control" rows="3" cols="100" name="operacao" readonly="true"><%= item.operacao %>
           </textarea></p>
        </div>
            <p><button type="button" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#myEditItem_<%= item.id %>">
                     Editar</button>
            <%= link_to "Destroy", [item.office, item],
                 method: :delete,
                 data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger", remote: true %></p>
      </div>
  </div>
<!-- inicio formulario com modal para inclusao de novos dados -->
<%= bootstrap_form_for([item.office, item], :method => :put, remote: true ) do |f| %>

  <div class="modal fade" id="myEditItem_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Items - Editar Items</h4>
      </div>


      <div class="modal-body">
        <div class="form-group">
          <%= f.alert_message "Verifique os erros abaixo antes de prosseguir:" %>

          <%= f.hidden_field :office_id, :value => item.office.id %>
          <%= f.collection_select(:client_id, Client.all, :id, :nome, {prompt: "Selecione o relator"}, {class: "form-control"} )%>
          <%= f.text_field :mantis, label: false, id: "item_mantis",class: "form-control"%>
          <%= f.text_field :numProcesso, label: false, id: "item_numProcesso", class: "form-control" %>
          <%= f.text_field :nomeServidor, label: false, id: "item_nomeServidor", class: "form-control" %>
          <%= f.form_group :migrado, label: { text: "Processo Migrado" } do %>
            <%= f.radio_button :migrado, true, label: "Sim", inline: true %>
            <%= f.radio_button :migrado, false, label: "Não", inline: true %>
          <% end %>
          <%= f.text_area :operacao, class: "form-control item_operacao", :input_html => {:rows => 3 } %>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <%= f.submit "Salvar", class: "btn btn-primary" %>
      </div>


  </div>
</div>
</div>
<% end %>
</div>
