



<table class="responsive">
  <thead>
    <tr>
      <th>Solicitante</th>
      <th>N. Mantis</th>
      <th>Num.Processo</th>
      <th>Nome Servidor</th>
      <th>Migrado</th>
      <th colspan="2">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @office.items.each do |item| %>
      <tr>
        <td><%= item.client.nome %></td>
        <td><%= item.mantis %></td>
        <td><%= item.numProcesso %></td>
        <td><%= item.nomeServidor %></td>
        <td><%= item.migrado %></td>
        <td><%= link_to 'Edit', edit_office_item_path(@office,item) %></td>
        <td>

          <%= link_to 'Destroy', [item.office, item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>


        </td>
        <td>
      <a href="#" data-reveal-id="secondModal" class="radius button">Editar Item<i class="fi-prohibited"></i></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
