<h1>Sistemas</h1>

<table id="myTable" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Responsavel</th>
      <th> Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.nome %></td>
        <td><%= system.responsavel %></td>
        <td><%= link_to 'Show', system %>
        <%= link_to 'Edit', edit_system_path(system) %>
        <%= link_to 'Destroy', system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
<%= button_to('Novo Sistema', new_system_path, :method => :get, :class => 'btn btn-primary')  %>
</div>

