<div class="page-header">
  <h1>Sistema <small>- Lista</small></h1>
</div>
<table id="tbSistemas" class="display table table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Responsavel</th>
      <th> Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.nome %></td>
        <td><%= system.responsavel %></td>
        <td>
        <%= link_to('', system, class: "glyphicon glyphicon-zoom-in",  "data-toggle"=>"tooltip",  :title=>'Detalhar') %>
        <%= link_to('', edit_system_path(system),class: "glyphicon glyphicon-pencil","data-toggle"=>"tooltip",  :title=>'Editar' )%>
        <%= link_to('', system, method: :delete, class: "glyphicon glyphicon-remove", "data-toggle"=>"tooltip",  :title=>'Excluir',  data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
<%= button_to('Novo Sistema', new_system_path, :method => :get, :class => 'btn btn-primary')  %>
</div>
