<%= tinymce_assets %>
<%= tinymce :alternate, :language => "pt_BR"%>

<div class="page-header">
  <h1>Base Conhecimento <small>- Detalhe</small></h1>
</div>

<p>
  <strong>System:</strong> <%= @knowledge.system.nome %> -
  <strong>User:</strong><%= @knowledge.user.email %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @knowledge.titulo %>
</p>

<p>
<strong>Descrição:</strong>
<%= text_area_tag :readyOnly, @knowledge.descricao, :rows => 40, :cols => 120, :class => "tinymce", :disabled=> "true",  :readonly=>"true" %>
</p>

<%= link_to 'Edit', edit_knowledge_path(@knowledge), class: "btn btn-default" %>
<%= link_to 'Back', knowledges_path, class: "btn btn-default" %>
