<%= bootstrap_form_for(@category) do |f| %>
  <%= f.alert_message "Verifique os erros abaixo antes de prosseguir:" %>

    <%= f.collection_select(:system_id, System.system_atual(session[:system_id]), :id, :nome,{prompt: "Selecione o Sistema"}) %>
    <%= f.text_field :descricao %>
    <%= f.form_group :ativo, label: { text: "Ativo" } do %>
      <%= f.radio_button :ativo, true, label: "Sim", inline: true %>
      <%= f.radio_button :ativo, false, label: "Não", inline: true %>
    <% end %>

   <div align="center">
     <%= f.submit %>
     <%= link_to 'Voltar', categories_path , class: "btn btn-default"%>
    </div>
<% end %>
