<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Sistema" %><br>
    <%= f.collection_select(:system_id, System.all, :id, :nome) %>
  </div>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br>

<%= f.radio_button :ativo, 1 %>
<%= f.label :ativo_true, "Sim" %>
<%= f.radio_button :ativo, 0 %>
<%= f.label :ativo_false, "Não" %>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
