<h1>Categorias</h1>

<table id="myTable" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Sistema</th>
      <th>Descricao</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.system.nome %></td>
        <td><%= category.descricao %></td>
        <td><%= formata_SimNao(category.ativo) %></td>
        <td><%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
<%= button_to('Nova Categoria', new_category_path, :method => :get, :class => 'btn btn-primary')  %>
</div>
