<%= bootstrap_form_for(@release) do |f| %>
  <%= f.alert_message "Verifique os erros abaixo antes de prosseguir:" %>

    <%= f.collection_select(:system_id, System.all, :id, :nome,{prompt: "Selecione o Sistema"}) %>
    <%= f.text_field :versao %>
    <%= f.date_field :dt_implantacao %>
    <%= f.text_area :descricao, size: "60x10" %>

    <div align="center">
      <%= f.submit %>
      <%= link_to 'Voltar', releases_path , class: "btn btn-default"%>
     </div>
<% end %>
