<h1>Listing releases</h1>

<table>
  <thead>
    <tr>

    <th>Sistema</th>
      <th>Versão</th>
      <th>Data Implantação</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.system.nome %></td>
        <td><%= release.versao %></td>
        <td><%= formata_data(release.dt_implantacao) %></td>
        <td><%= link_to 'Show', release %></td>
        <td><%= link_to 'Edit', edit_release_path(release) %></td>
        <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
