<h1>Releases</h1>

<table class="display nowrap dataTable no-footer dtr-inline collapsed" id="myTable" role="grid">
  <thead>
    <tr role="row">

    <th>Sistema</th>
      <th>Versão</th>
      <th>Data Implantação</th>
      <th>Ações</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr role="row">
        <td><%= release.system.nome %></td>
        <td><%= release.versao %></td>
        <td><%= formata_data(release.dt_implantacao) %></td>
        <td><%= link_to 'Show', release %>
        <%= link_to 'Edit', edit_release_path(release) %>
        <%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <td>
          <textarea class="form-control" rows="3" cols="100" name="descricao" readonly="true"><%= release.descricao %> </textarea></td>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">
<%= button_to('Novo Release', new_release_path, :method => :get, :class => 'btn btn-primary')  %>
</div>

