<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<div class="page-header">
  <h1>Release <small>- Detalhe</small></h1>
</div>
<p>
  <strong>System:</strong>
  <%= @release.system.nome %>
</p>
<p>
  <strong>Versao:</strong>
  <%= @release.versao %>
</p>

<p>
  <strong>Data Implantação:</strong>
  <%= formata_data(@release.dt_implantacao) %>
</p>

<p>
  <strong>Descrição:</strong>
</p>
<p>
  <textarea cols="80" rows="5" disabled="true" readonly="true">
    <%= @release.descricao %>
  </textarea>
</p>

<div align="center">
<%= link_to 'Edit', edit_release_path(@release), class:"btn btn-default" %>
<%= link_to 'Back', releases_path , class: "btn btn-default"%>
</div>
</div>
<div class="col-md-2"></div>
</div>
