<%= simple_form_for(@called) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.collection_select(:system_id, System.all, :id, :nome) %>
    <%= f.radio_button :tipo, "O" %>
    <%= f.label :tipo_occr, "Ocorrência" %>
    <%= f.radio_button :tipo, "I" %>
    <%= f.label :tipo_inc, "Incidente" %>


    <%= f.input :identificador %>
    <%= f.input :descricao %>
    <%= f.input :data %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
