<h1>Chamados</h1>

<table id="myTable" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>System</th>
      <th>Tipo</th>
      <th>Categoria</th>
      <th>Identificador</th>
      <th>Data</th>
      <th>Actions</th>
      <th>Descricao</th>
    </tr>
 </thead>
  <tbody>
    <% @calleds.each do |called| %>
      <tr>
        <td><%= called.system.nome %></td>
        <td><%= called.formata_tipo(called.tipo) %></td>
        <td><%= called.category.descricao %></td>
        <td><%= called.identificador %></td>
        <td><%= formata_data(called.data) %></td>
        <td><%= link_to 'Show', called %>
        <%= link_to 'Edit', edit_called_path(called) %>
        <%= link_to 'Destroy', called, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <td>
          <textarea class="form-control" rows="3" cols="100" name="descricao" readonly="true"><%= called.descricao %> </textarea></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Called', new_called_path %>

