<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<div class="page-header">
  <h1>Chamados <small>- Detalhe</small></h1>
</div>
<p>
  <strong>System:</strong>
  <%= @called.system.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @called.formata_tipo(@called.tipo) %>
</p>

<p>
  <strong>Categoria:</strong>
<%= @called.category.descricao %>
</p>


<p>
  <strong>Identificador:</strong>
  <%= @called.identificador %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @called.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= formata_data(@called.data) %>
</p>
<div align="center">
<%= link_to 'Edit', edit_called_path(@called), class:"btn btn-default" %>
<%= link_to 'Back', calleds_path , class: "btn btn-default"%>
</div>
</div>
<div class="col-md-2"></div>
</div>
