<%# add navigation links to this file %>


<%if user_signed_in? %>
<li><%= link_to 'Releases', releases_path %> </li>
<li class="divider"></li>
<li><%= link_to 'Chamados', calleds_path %> </li>
<li class="divider"></li>
<li><%= link_to 'Ofícios', offices_path %> </li>
<li class="divider"></li>
 <li class="has-dropdown">
        <a href="#">Tabelas</a>
        <ul class="dropdown">
          <li><%= link_to 'Systems', systems_path %> </li>
          <li class="divider"></li>
          <li><%= link_to 'Clientes', clients_path %> </li>
          <li class="divider"></li>
          <li><%= link_to 'Categories', categories_path %> </li>
          <li class="divider"></li>
       </ul>
      </li>
<%end%>

